 <!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <meta charset="utf-8">
        <title>Documentation</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="../public/css/style.css">
        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top nav_left">
        <div class="container-fluid">
          <a class="navbar-brand" href="../views/index.html">Juan Cardenas</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse flex-d flex-row-reverse nav_right" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="../views/index.html" target="_blank">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="../views/Projects.html" target="_blank">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/cybersecurity.html" target="_blank">Documentation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/tools.html" target="_blank">Tools</a>
              </li>
              <li class="nav-item dropdown">
              <li class="nav-item dropdown">
              <!-- <li class="nav-item active">
                <a class="nav-link p-2" href="../views/sql.html">SQLi <span class="sr-only"></span></a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Experience</a>
              </li> -->
              <li class="nav-item dropdown">
                
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

        <div class="block">
          <img class="rounded mx-auto d-block img" src="../public/css/CyberSecurityIcon.png" alt="photo">
          <div class="ptext">
            <span>Documentation<br></span><br><br>
            <span class="text-justify"></span>
  
          </div>
        </div>
        <section class = "container">
            <div class="block3">
              <!-- <div class="col-md-4 center pad_top d-fex" > -->
        
                <h2 class="impg">Projects</h2>
                <br>
                <a href="../public/css/Cybersecurity/Access_Management.pdf" target="_blank" class="nice-button">Access management</a>
                <p class="impg">
                    The Access Management project is a self-directed initiative focused on identifying
                     and mitigating the risks associated with a malicious actor having existing permissions within an organization's system. 
                     This project aims to conduct a comprehensive review of user permissions, assess potential vulnerabilities, and provide actionable
                     recommendations to enhance security and prevent unauthorized access. 
                  </p>
                  <p class="impg">
                    The Access Management project plays a crucial role in identifying and mitigating
                     risks associated with unauthorized access within the organization. By conducting a thorough permissions review and providing
                      actionable countermeasure recommendations, this project helps enhance the overall security posture, reduces the potential for 
                      data breaches, and strengthens the organization's resilience against malicious actors. The project contributes to a more secure 
                      and robust access control framework, safeguarding sensitive data and protecting the organization's reputation.
                  </p>
                  <br>
                <a href="../public/css/Cybersecurity/determine_data_leak.pdf" target="_blank" class="nice-button">Data Leak Incident Documentation</a>
                <p class="impg">
                    The Data Leak Incident Documentation and Mitigation project focuses on analyzing and addressing a data leak incident 
                    caused by a customer success representative who gained access to an internal folder of documents containing sensitive 
                    information. The incident occurred when the representative inadvertently shared a link to the folder, 
                    resulting in the exposure of internal documents on a business partner's social media page. This project involves documenting the incident, 
                    assessing its impact, and proposing measures to mitigate future risks.
                  </p>
                  <p class="impg">
                    The Data Leak Incident Documentation and Mitigation project addresses a critical security incident, enabling the organization
                     to learn from the incident and implement necessary measures to prevent future data leaks. By documenting the incident,
                      conducting a root cause analysis, and proposing appropriate mitigations, this project helps the organization enhance its data protection practices, 
                      strengthen access controls, and improve user awareness and training. The project contributes to a more secure and resilient information handling framework, 
                      safeguarding sensitive data, and minimizing the risk of reputational damage.
                  </p>
                  <br>
                <a href="../public/css/Cybersecurity/Parking lot USB.pdf" target="_blank" class="nice-button">Parking Lot USB</a>
                <p class="impg">
                    The USB Incident Investigation and Risk Analysis project focuses on examining the risks associated with a USB stick found in the parking 
                    lot of Rhetorical Hospital. The USB drive, bearing the hospital's logo, was picked up out of curiosity and brought back to the office for analysis. 
                    By conducting a comprehensive risk analysis, this project aims to identify potential security threats, data breaches, and vulnerabilities that may arise 
                    from the use of the USB stick.
                  </p>

                  <p class="impg">
                    The USB Incident Investigation and Risk Analysis project provides valuable insights into the risks associated with the use of USB devices within the hospital's network. 
                    By conducting a thorough risk assessment, analyzing potential malware threats, and evaluating data breach risks, this project helps raise awareness about the importance of 
                    secure USB usage and strengthens the hospital's security posture. The implementation of recommended risk mitigation measures and incident response protocols ensures a proactive 
                    approach to USB-related security incidents and safeguards sensitive patient information.
                  </p>
                    <br>
                <br>
                  <a href="../public/css/Cybersecurity/Incident Handler's Journal - Juan Cardenas.pdf" target="_blank" class="nice-button">Incident Handler's Journal</a>
                <p class="impg">
                  The Incident Handler's Journal project focuses on creating a comprehensive journal that documents incident response activities, observations, and lessons learned during various cybersecurity incidents. 
                  As an incident handler, maintaining a detailed journal is essential for recording crucial information, tracking progress, and capturing key insights for future reference. This project aims to establish 
                  a structured and organized incident journal to facilitate effective incident response and enhance knowledge sharing within the cybersecurity team.
                  </p>

                  <p class="impg">
                    The Incident Handler's Journal project promotes effective incident response and knowledge sharing within the cybersecurity team. By maintaining a comprehensive journal, incident handlers can improve 
                    incident handling processes, foster collaboration, and enhance future incident response efforts.
                  </p>
                    <p class="impg">
                    Through this project, you develop a disciplined approach to incident documentation, facilitating the capture of critical information, timelines, and actions taken during incident response. By reflecting on each incident,
                     you gain insights into incident patterns, emerging threats, and potential vulnerabilities within the organization's security infrastructure. This project contributes to building a repository of incident knowledge, enabling 
                     incident handlers to learn from past experiences and improve incident response capabilities.
                    </p>

                    <p class="impg">
                     The Incident Handler's Journal serves as a valuable resource for incident debriefings, regulatory compliance, and internal or external audits. It facilitates knowledge transfer, ensures consistency in incident documentation, 
                     and supports the continuous improvement of incident response processes.
                  </p>
                  <br>
                </div>
                </section>
                </body>

        </html>
</html>
