<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <meta charset="utf-8">
        <title>Projects</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="../public/css/style.css">
        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top nav_left">
        <div class="container-fluid">
          <a class="navbar-brand" href="../views/index.html">Juan Cardenas</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse flex-d flex-row-reverse nav_right" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="../views/index.html" target="_blank">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="../views/Projects.html" target="_blank">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/cybersecurity.html" target="_blank">Documentation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/tools.html" target="_blank">Tools</a>
              </li>
              <li class="nav-item dropdown">
              <li class="nav-item dropdown">
              <!-- <li class="nav-item active">
                <a class="nav-link p-2" href="../views/sql.html">SQLi <span class="sr-only"></span></a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Experience</a>
              </li> -->
              <li class="nav-item dropdown">
                
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

        <div class="block">
          <img class="rounded mx-auto d-block img" src="../public/css/cyberprojects.png" alt="photo">
          <div class="ptext">
            <span>Projects<br></span><br><br>
            <span class="text-justify"></span>
  
          </div>
        </div>
    <section class = "container">
        <div class="block3">
          <!-- <div class="col-md-4 center pad_top d-fex" > -->
    
            <h2 class="impg">Projects</h2>
            <br>
            <a href="../public/css/Projects/File permissions in Linux - Juan Cardenas.pdf" target="_blank" class="nice-button">File Permissions in Linux</a>
            <p class="impg">
                The File Permission Management for Research Projects in Linux project focuses on ensuring proper file permissions for files and directories
                 within the projects directory of the organization. The research team has identified that the current permissions do not align with the required 
                 level of authorization, posing potential security risks. This project aims to check and update the file permissions to maintain a secure 
                 system environment for research projects.
              </p>
              <p class="impg">
                The File Permission Management for Research Projects in Linux project contributes to maintaining a secure system environment for research projects. 
                By ensuring that file permissions align with the required level of authorization, the project mitigates the risk of unauthorized access, data breaches, 
                and potential data leaks. The implementation of proper file permission management practices enhances the overall security posture and protects sensitive 
                research data.
            </p>
            <br>
            <a href="../public/css/Projects/PASTA worksheet.pdf" target="_blank" class="nice-button">PASTA worksheet</a>
            <p class="impg">
                The PASTA Threat Modeling for Sneaker Company Mobile App project focuses on performing a comprehensive threat model analysis 
                for a growing company in the sneaker industry. The organization is preparing to launch a mobile application that simplifies the process 
                of buying and selling shoes for sneaker enthusiasts and collectors. By utilizing the PASTA (Process for Attack Simulation and Threat Analysis) framework, 
                this project aims to identify and address security requirements for the new mobile app across its seven stages.
              </p>

              <p class="impg">
                The PASTA Threat Modeling for Sneaker Company Mobile App project plays a crucial role in identifying and addressing potential security risks and vulnerabilities 
                in the mobile app. By conducting a comprehensive threat model analysis, the project ensures that the app is developed with security in mind from the early stages. 
                The implementation of the recommended security requirements helps protect user data, prevent unauthorized access, and maintain customer trust in the company's brand.
              </p>
              <br>
            <a href="../public/css/Projects/Risk register- Juan Cardenas.pdf" target="_blank" class="nice-button">Risk Register</a>
            <p class="impg">
                The Risk Register Development and Prioritization for Commercial Bank Cybersecurity project focuses on creating a comprehensive risk register 
                to assist the cybersecurity team in conducting a risk assessment of the bank's operational environment. The risk register serves as a central
                 record of potential risks to the bank's assets, information systems, and data. This project aims to evaluate and prioritize the identified risks
                  by assessing their likelihood and potential impact, allowing the team to focus on securing the most vulnerable risks.
              </p>
            
              <p class="impg">
                The Risk Register Development and Prioritization project enables the commercial bank's cybersecurity team to proactively identify, evaluate, and prioritize risks, 
                ensuring a targeted and effective risk mitigation approach. By developing a comprehensive risk register and scoring system, the project allows the team to allocate 
                resources and attention to the most critical risks, reducing the potential impact of security incidents, protecting assets and data, and maintaining regulatory compliance.
              </p>
              <br>
            </div>
            </section>
            </body>
        </html>
</html>