<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <meta charset="utf-8">
        <title>Tools</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="../public/css/style.css">
        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top nav_left">
        <div class="container-fluid">
          <a class="navbar-brand" href="../views/index.html">Juan Cardenas</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse flex-d flex-row-reverse nav_right" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="../views/index.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="../views/Projects.html" target="_blank">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/cybersecurity.html">Documentation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/tools.html">Tools</a>
              </li>
              <li class="nav-item dropdown">
              <li class="nav-item dropdown">
              <!-- <li class="nav-item active">
                <a class="nav-link p-2" href="../views/sql.html">SQLi <span class="sr-only"></span></a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Experience</a>
              </li> -->
              <li class="nav-item dropdown">
                
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

        <div class="block">
          <img class="rounded mx-auto d-block img" src="../public/css/cybertools.png" alt="photo">
          <div class="ptext">
            <span>Tools<br></span><br><br>
            <span class="text-justify"></span>
  
          </div>
        </div>
        <section class = "container">
            <div class="block3">
              <!-- <div class="col-md-4 center pad_top d-fex" > -->
        
                <h2 class="impg">Projects</h2>
                <br>
                <a href="../public/css/Tools/Add and Manage Users with Linux Commands.pdf" target="_blank" class="nice-button">Add and Manage Users - Linux</a>
                <p class="impg">
                    The User Management Project in Linux focuses on gaining practical experience in adding and managing users within a Linux environment. 
                    This project allows you to explore the fundamental aspects of user administration, including creating user accounts, assigning permissions,
                    and performing routine user management tasks. By actively practicing user management in a hands-on manner, you gain a deeper understanding 
                    of the Linux user management process and the associated command-line tools.

                    <p class="impg">
                        The User Management Project in Linux offers an opportunity to gain practical experience in the essential aspects of user administration.
                        By actively adding and managing users, you acquire firsthand knowledge of the Linux user management process, command-line tools, and best practices. 
                        This project allows you to develop critical skills in user management, paving the way for more advanced tasks and understanding of access controls, permissions, 
                        and user security.
                    </p>
                    <br>


                <a href="../public/css/Tools/Create Hash Values.pdf" target="_blank" class="nice-button">Create Hash Values</a>
                <p class="impg">
                    The File Hashing Project for Data Integrity Verification focuses on generating hash values for two files to ensure their integrity and detect any modifications 
                    or corruption. Hash values serve as unique fingerprints for files, allowing verification of data integrity and authenticity. This project involves creating hash 
                    values for two files using a cryptographic hashing algorithm and comparing the generated hashes to identify any discrepancies.
                  </p>

                  <p class="impg">
                    The File Hashing Project for Data Integrity Verification provides assurance of data integrity and helps detect any unauthorized modifications or corruption in files. 
                    By generating hash values and comparing them, this project ensures the integrity of important files and establishes a process for ongoing data integrity verification. 
                    This project helps organizations maintain trust in their data, ensuring the reliability and authenticity of critical files.
                  </p>
                  <br>

                <a href="../public/css/Tools/Examine Input Output in the Shell - Juan Cardenas.pdf" target="_blank" class="nice-button">Examine Input Output in the Shell</a>
                <p class="impg">
                    The Input-Output Comparison Project in Bash Shell for Correctness Verification focuses on manually comparing the inputs and outputs within a Bash shell environment to 
                    validate the correctness of data transformations or operations. This project emphasizes a hands-on approach where you perform the comparisons individually without 
                    relying on automated programs or scripts. By meticulously examining the inputs and outputs, you can ensure the accuracy and integrity of the results. 
                  </p>

                  <p class="impg">
                    The Input-Output Comparison Project in Bash Shell for Correctness Verification provides a manual approach to validate the accuracy and correctness of operations or 
                    transformations within the Bash shell environment. By individually comparing inputs and outputs, you gain a deep understanding of the data flow and can identify any 
                    deviations from the expected results. This project promotes meticulousness, attention to detail, and a critical mindset in verifying correctness.
                  </p>

                  <br>
                <a href="../public/css/Tools/Filter a SQL Query - Juan Cardenas.pdf" target="_blank" class="nice-button">Filter a SQL Query</a>
                <p class="impg">
                    The SQL Query Filtering Project for Data Extraction focuses on using SQL queries to filter and extract specific entries from a database. This project aims to retrieve 
                    targeted data based on defined criteria, helping you understand the power of SQL queries in efficiently obtaining the desired information. By applying various filtering 
                    techniques, you can extract specific entries that meet specific conditions or match specific patterns. 
                  </p>

                  <p class="impg">
                    The SQL Query Filtering Project for Data Extraction provides a practical approach to extract specific entries from a database using SQL queries. By mastering filtering 
                    techniques, you enhance your ability to retrieve relevant data efficiently and effectively. This project promotes skills in SQL query development, data extraction, and result analysis.
                  </p>
                  <br>
                <a href="../public/css/Tools/Installing Software in a Linux Distribution.pdf" target="_blank" class="nice-button">Installing Software in a Linux Distribution</a>
                <p class="impg">
                    The Software Installation Verification Project on Linux focuses on verifying the proper installation of software packages on a Linux system. This project aims to ensure that the installed 
                    software functions correctly and meets the expected requirements. By performing installation verification tasks, you can validate the successful installation and functionality of software 
                    packages on your Linux environment.
                  </p>

                  <p class="impg">
                    The Software Installation Verification Project on Linux ensures the successful installation and functionality of software packages on a Linux system. By actively verifying the installation 
                    and conducting functional testing, this project helps ensure that the software meets the intended requirements and functions as expected.
                  </p>
                  <br>
                <a href="../public/css/Tools/Manage Files with Linux Commands - Juan Cardenas.pdf" target="_blank" class="nice-button">Manage Files with Linux Commands</a>
                <p class="impg">
                    The File Management Project with Linux focuses on managing different files and performing various actions on them within a Linux environment. This project aims to enhance your file management 
                    skills, allowing you to efficiently organize, manipulate, and interact with files using Linux command-line tools and utilities. By practicing file management tasks, you gain hands-on experience 
                    in navigating file systems, modifying file attributes, performing searches, and executing file-related operations.
                  </p>

                  <p class="impg">
                    The File Management Project with Linux enhances your file management skills and knowledge, enabling you to efficiently handle various file-related tasks within a Linux environment. Through this 
                    project, you gain practical experience in organizing files, executing common file operations, modifying file attributes, performing searches, and navigating file systems effectively.
                  </p>
                  <br>
                <a href="../public/css/Tools/Perform a SQL Query - Juan Cardenas.pdf" target="_blank" class="nice-button">Perform a SQL Query</a>
                <p class="impg">
                    The SQL Query Performance Project focuses on performing different SQL queries and optimizing their execution within a database management system. This project aims to enhance your skills in 
                    constructing SQL queries, understanding query performance, and optimizing query execution to achieve efficient and fast results. By working with various types of SQL queries, you gain hands-on experience 
                    in data retrieval, filtering, joining, aggregating, and other query operations.
                </p>
                
                <p class="impg">
                    The SQL Query Performance Project enhances your skills in constructing and optimizing SQL queries, enabling you to retrieve data efficiently and effectively from a database. Through this project, you gain practical 
                    experience in query analysis, optimization techniques, and performance tuning, which are essential in data-driven applications and database management scenarios.
                </p>
                <br>
               <a href="../public/css/Tools/Perform a Query with Splunk - Juan Cardenas.pdf" target="_blank" class="nice-button">Perform a Query with Splunk</a>
                  <p class="impg">
                      The SQL Query Performance Project focuses on performing different SQL queries and optimizing their execution within a database management system. This project aims to enhance your skills in 
                      constructing SQL queries, understanding query performance, and optimizing query execution to achieve efficient and fast results. By working with various types of SQL queries, you gain hands-on experience 
                      in data retrieval, filtering, joining, aggregating, and other query operations.
                  </p>
                  
                  <p class="impg">
                      The SQL Query Performance Project enhances your skills in constructing and optimizing SQL queries, enabling you to retrieve data efficiently and effectively from a database. Through this project, you gain practical 
                      experience in query analysis, optimization techniques, and performance tuning, which are essential in data-driven applications and database management scenarios.
                  </p>
                  <br>
                  <a href="../public/css/Tools/Perform a Query with Chronicle - Juan Cardenas.pdf" target="_blank" class="nice-button">Perform a Query with Chronicle</a>
                  <p class="impg">
                    The perform a query with Chronicle project focuses on utilizing Chronicle, a security analytics platform, to investigate a suspicious domain name identified in a phishing email received by an employee at a 
                    financial services company. As a security analyst, your goal is to determine if any other employees have received phishing emails containing the suspicious domain name (signin.office365x24.com) and whether they have visited 
                    the domain. By leveraging Chronicle's capabilities, you can analyze network traffic, email logs, and other relevant data to identify potential phishing attempts and assess the impact on the organization's security.
                  </p>
                  
                  <p class="impg">
                    The perform a query with Chronicle project empowers you to leverage Chronicle's capabilities to identify and assess potential phishing attempts within a financial services company. By investigating
                     the suspicious domain and related email activities, you gain insights into the effectiveness of the organization's security measures and can proactively enhance the security posture.
                  </p>
                  <br>
                </div>
                </section>
                </body>
</html>
